ul {
  background-color: #dddddd;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  display: inline;
  color: white;
  text-align: center;
  padding: 4px 8px;
  text-decoration: none;
}

.button {
  display: center;
  /* align-content: center; */
  padding: 0.1em 1em;
  border: 0.1em solid #ffffff;
  margin: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.12em;
  /* box-sizing: content-box; */
  font-family: "Roboto", sans-serif;
  font-weight: 200;
  color: black;
  text-align: left;
  transition: all 0.2s;
  flex-direction: row;
  width: fit-content;
}

button:hover {
  color: #000000;
  background-color: #ffffff;
}

@media all and (max-width: 10em) {
   .button {
    display: block;
    margin: 0.4em auto;
    text-align: left;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

html {
  height: 100%;
}

.landing-image {
  background-image: url("../assets/background-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.main-title {
  padding-top: 20%;
  font-size: xx-large;
  text-align: center;
  justify-content: space-evenly;
}

.background {
  background-color: cornsilk;
  height: 100%;
  width: 100%;
}
