ul {
  background-color: #dddddd;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  width: 100%;
}

li {
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.button {
  display: right;
  align-content: right;
  padding: 0.1em 1em;
  border: 0.1em solid #ffffff;
  margin: 0.3em 0.3em 0.3em 0.3em;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: black;
  text-align: center;
  transition: all 0.2s;
  flex-direction: row;
}

button:hover {
  color: #000000;
  background-color: #ffffff;
}

@media all and (max-width: 10em) {
   .button {
    display: block;
    margin: 0.4em auto;
  }
}

.container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: flex-start;
}

html {
  height: 100%;
}

.landing-image {
  background-image: url("../assets/background-image.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
